---
import ProjectProfile from '@components/layout/ProjectProfile.astro';

const { project } = Astro.props;
const total = project.mobile.mobileImg.length;
---

<div class="flex gap-3 sm:gap-5 md:gap-10 lg:gap-15">
  <div class="mockup-phone select-none min-w-[424px] shadow-xl">
    <div class="mockup-phone-camera"></div>
    <div class="mockup-phone-display">
      <div class="carousel w-full">
        {
          project.mobile.mobileImg.map((src: string, index: number) => {
            const prev = index === 0 ? total : index;
            const next = index + 2 > total ? 1 : index + 2;
            const slideId = `slide${index + 1}`;
            const prevId = `slide${prev}`;
            const nextId = `slide${next}`;
            return (
              <div id={slideId} class="carousel-item relative w-full">
                <img src={src} class="w-full" alt={`image ${index + 1}`} />
                <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                  <a href={`#${prevId}`} class="btn btn-circle">
                    ❮
                  </a>
                  <a href={`#${nextId}`} class="btn btn-circle">
                    ❯
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
  <ProjectProfile {project} />
</div>
<script>
  const carousel = document.querySelector('.carousel');
  const items = document.querySelectorAll('.carousel-item');
  let current = 1;
  const total = items.length;

  // 手动播放
  document.querySelectorAll('.carousel a[href^="#slide"]').forEach((link) => {
    link.addEventListener('click', (e: any) => {
      e.preventDefault();
      const targetId = e.currentTarget.getAttribute('href')?.replace('#', '');
      current = targetId.split('slide')[1];
      const target = document.getElementById(targetId);
      if (target && carousel) {
        carousel.scrollTo({
          left: target.offsetLeft,
          behavior: 'smooth'
        });
      }
    });
  });

  // 自动轮播
  setInterval(() => {
    current = (current % total) + 1;
    const target = document.getElementById(`slide${current}`);
    if (target && carousel) {
      carousel.scrollTo({
        left: target.offsetLeft,
        behavior: 'smooth'
      });
    }
  }, 3000);
</script>
