---
import PlatformTag from '@components/projects/PlatformTag.astro';
import TechStack from '@components/projects/TechStack.astro';

const { project = {} } = Astro.props;
---

<div class="pt-3 relative">
  <h1 class="text-3xl pb-5">{project?.title}</h1>
  <div class="mt-5 whitespace-pre-line">{project?.description}</div>
  <div class="flex flex-col gap-5 mt-10 text-secondary-content font-bold text-start">
    <div class="flex items-start">
      <span class="w-[70px] mr-5">技术栈:</span>
      <div class="flex-col">
        <TechStack tags={project?.techStack} />
      </div>
    </div>
    <div class="flex items-start">
      <span class="w-[70px] mr-5">关键词:</span>
      <div class="flex-col">
        {project?.keywords.map((keyword: string) => <span class="badge badge-info pt-1 mr-2 mb-2">{keyword}</span>)}
      </div>
    </div>
    <div class="flex items-start">
      <span class="w-[70px] mr-5">部署平台:</span>
      <div class="flex flex-wrap items-center gap-2">
        {project?.platform.map((tag: string) => <PlatformTag {tag} />)}
      </div>
    </div>
  </div>
</div>
