---
const { project = {} } = Astro.props;
---

<div class="pt-3 relative">
  <h1 class="text-3xl pb-5">{project?.title}</h1>
  <div class="flex items-center">
    {project?.keywords.map((keyword: string) => <span class="badge badge-primary mr-2 pt-0.5">{keyword}</span>)}
  </div>
  <div class="mt-5 whitespace-pre-line">{project?.description}</div>
  <div class="flex flex-col gap-5 mt-10">
    <div class="flex items-center">
      <span class="font-bold text-gray-600 min-w-[70px] text-start mr-5">预览地址:</span>
      <div class="flex flex-wrap items-center gap-3 line-clamp-1">
        <a class="font-bold text-sm" href={project.address ? project.address : '#'}>
          {project.address ? project.address : '暂无地址'}
        </a>
      </div>
    </div>

    <div class="flex items-center">
      <span class="font-bold text-gray-600 min-w-[70px] text-start mr-5">相关链接:</span>
      <div class="flex flex-wrap items-center gap-3 line-clamp-1">
        {
          project.links?.map((link: { type: string; url: string }) => (
            <a href={link.url} target="_blank" class=" hover:underline flex items-center gap-1">
              <span class={`icon-${link.type}-mini`} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
