---
import BaseHead from '@components/layout/BaseHead.astro';
import Footer from '@components/layout/Footer.astro';
import SocialList from '@components/index/SocialList.astro';
import IndexItemCard from '@components/index/IndexItemCard.astro';
import JobHistory from '@components/jobs/history.astro';
import projectList from '@content/projects/project-list.json';
import interestList from '@content/projects/interest-list.json';
import { SITE_TITLE, SITE_DESCRIPTION, BASE_INFO } from '@config';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="max-w-sm sm:max-w-2xl lg:max-w-4xl mx-auto pt-5 min-h-[80vh] pb-[20vh]">
      <!-- <Header /> -->
      <div class="flex flex-col-reverse md:flex-row items-center gap-15 mt-20">
        <div>
          <h1 class="font-bold text-5xl mb-5 mt-5">{BASE_INFO.title}</h1>
          <p class="text-xl text-gray-700">{BASE_INFO.description}</p>
          <div class="flex mt-3">
            <SocialList />
          </div>
        </div>

        <img class="mask mask-circle w-[15rem] object-cover" src="../../src/assets/avatar.jpg" alt="#" />
      </div>

      <!-- work -->
      <div class="mt-[10rem]">
        <h1 class="font-bold text-2xl">{BASE_INFO.workTitle}</h1>
        <p class="text-gray-500 mt-2 whitespace-pre-line">{BASE_INFO.workDescription}</p>
      </div>
      <div class="mt-10">
        <JobHistory />
      </div>

      <!-- technical support -->
      <div class="mt-[10rem]">
        <h1 class="font-bold text-2xl">{BASE_INFO.projectTitle}</h1>
        <p class="text-gray-500 mt-2 whitespace-pre-line">{BASE_INFO.projectDescription}</p>
      </div>

      <div class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-6">
        {projectList.map((item) => <IndexItemCard item={item} type="projects" />)}
      </div>

      <!-- interest -->
      <div class="mt-[10rem]">
        <h1 class="font-bold text-2xl">{BASE_INFO.interestTitle}</h1>
        <p class="text-gray-500 mt-2 whitespace-pre-line">{BASE_INFO.interestDescription}</p>
      </div>

      <div class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-6">
        {interestList.map((item) => <IndexItemCard {item} type="interests" />)}
      </div>
    </main>
    <Footer />
  </body>
</html>
