---
import LayoutProject from '@layouts/Project.astro';
import PhoneShow from '@components/projects/PhoneShow.astro';
import PlatformTag from '@components/projects/PlatformTag.astro';
import projectList from '@content/projects/project-list.json';
import TechStack from '@components/projects/TechStack.astro';

export function getStaticPaths() {
  return projectList.map((project) => ({ params: { id: project.id } }));
}
const { id } = Astro.params;
const project = projectList.find((p) => p.id === id);
---

<LayoutProject>
  <!-- 手机端 -->
  <div class="flex gap-3 sm:gap-5 md:gap-10 lg:gap-15">
    <PhoneShow images={project?.mobileImg} />
    <div class="pt-3 relative">
      <h1 class="text-3xl pb-5">{project?.title}</h1>
      <div class="mt-5">{project?.descriptionCN}</div>
      <div class="flex flex-col gap-5 mt-10">
        <div class="flex items-center">
          <span class="font-bold text-gray-600 w-[100px] text-start mr-5">Keywords:</span>
          {project?.keywords.map((keyword) => <span class="badge badge-ghost mr-2">{keyword}</span>)}
        </div>
        <div class="flex items-center">
          <span class="font-bold text-gray-600 w-[100px] text-start mr-5">Platform:</span>
          <PlatformTag tags={project?.platform} />
        </div>
        <div class="flex items-center">
          <span class="font-bold text-gray-600 w-[100px] text-start mr-5">Tech Stack:</span>
          <TechStack tags={project?.techStack} />
        </div>
      </div>

      <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2">
        <button class="btn btn-outline btn-primary" onclick="window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' })">
          查看Web展示
          <span class="icon-down"></span>
        </button>
      </div>
    </div>
  </div>

  <!-- Web端 -->
  <div class="mt-20">
    <h1 class="text-2xl font-bold mb-3">Web端页面</h1>
    <div class="mockup-browser border-gray-500 border-5 w-full shadow-lg">
      <div class="mockup-browser-toolbar">
        <div class="input text-gray-500">https://thnc.zgqt.zj.cn</div>
      </div>
      <img src="/public/project/1_5.png" alt="#" />
    </div>
  </div>
</LayoutProject>
